<!DOCTYPE html>
<html>

<head>
    <title>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>
    </h1>
    <p>
        <%= joke %>
    </p>
    <br>
    Times viewed: <%= count %>
    <a href="/">Main page</a>
</body>

</html>